body {
    padding-top: 5rem;
}

.profile{
    display: grid;
    grid-template: 25em 25em / 1fr;
    grid-template-areas: 
    'upper'
    'lower';
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 250px;
    margin-right: 250px;
    border-radius: 5%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

#upper{
    text-align: center;
    padding: 3em;
    color: #fff;
    text-shadow: 1px 1px 3px rgb(95, 95, 95);
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    background: rgb(0,200,255);
    background: radial-gradient(circle, rgba(0,200,255,1) 0%, rgba(0,153,255,1) 50%, rgba(0,153,255,1) 100%);
}

#lower{
    display: grid;
    grid-template: 2fr 1fr 2fr 1fr 2fr / 1fr;
    grid-template-areas: 
    'p'
    '.'
    'stats'
    '.'
    'button';
    color: rgb(141, 141, 141);
    text-align: center;
    padding: 3em;
}

img[alt="photo of Nathaniel"]{
    height: 171px;
    width: 191px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.stats{
    display: grid;
    grid-area: stats;
    grid-template: 1fr / 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: 
    '. posts . following . followers .';
}

.stats div h3{
    color: black;
}
#posts{
    grid-area: posts;
}


#following{
    grid-area: following;
}


#followers{
    grid-area: followers;
}

#lower > button{
    grid-area: button;
    height: 40px;
    width: 200px;
    align-self: center;
    justify-self: center;
    color: azure;
    font-weight: bolder;
    background-color: #007bff;
    border: 1px solid #007bff;
    border-radius: 5em;
    transition: all 0.5s ease;
}

#lower > button:hover{
    cursor: pointer;
    background-color: azure;
    color: #007bff;
}
